.present
  padding: 27px 0 68px
  &__hero
    margin-bottom: 30px
  &__title
    font-family: 'IBM Plex Mono'
    font-weight: 500
    font-size: 90px
    line-height: 120%
    margin-bottom: 8px
  &__tagline
    max-width: 350px
    line-height: 130%
    margin-bottom: 54px
  &__btn
    display: block
    width: 285px
    height: 68px
    background-image: url("../img/button.png")
    background-size: cover
    filter: drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51))
    border-radius: 2px
    outline: none
    transition: filter .3s ease-in
    &:hover
      filter: drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51)) brightness(1.21)
    &:active
      filter: drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51)) brightness(1.2)
    &:focus
      filter: drop-shadow(-4px 6px 10px rgba(10, 10, 10, 0.51)) brightness(1.1)
.page
  position: relative
  &::before
    content: ""
    position: absolute
    right: 96px
    bottom: 0
    width: 100%
    height: calc( 100% - 115px )
    background-image: url("../img/gerald.png")
    background-repeat: no-repeat
    background-position: right bottom
    background-size: contain
    z-index: -1
